In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [2]:
data = pd.read_csv('./data/PoPCites2.csv')
#data = pd.read_csv('data/PoPCites2.csv',usecols = '')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cites           200 non-null    int64
 1   Authors         200 non-null    object
 2   Title           200 non-null    object
 3   Year            200 non-null    int64
 4   Source          183 non-null    object
 5   Publisher       200 non-null    object
 6   ArticleURL      200 non-null    object
 7   CitesURL        200 non-null    object
 8   GSRank          200 non-null    int64
 9   QueryDate       200 non-null    object
 10  Type            37 non-null     object
 11  DOI             0 non-null      float64
 12  ISSN            0 non-null      float64
 13  CitationURL     0 non-null      float64
 14  Volume          0 non-null      float64
 15  Issue           0 non-null      float64
 16  StartPage       0 non-null      float64
 17  EndPage         0 non-null      float64
 18  ECC             200 non-null    int64
 19  CitesPerYear    200 non-null    float64
 20  CitesPerAuthor  200 non-null    int64
 21  AuthorCount     200 non-null    int64
 22  Age             200 non-null    int64
 23  Abstract        200 non-null    object
dtypes: float64(8), int64(7), object(9)
memory usage: 37.6+ KB

In [3]:
#Funktionen
def Count(data,count):
    cnt = Counter()
    for item in data: 
        cnt[item] += 1
    return cnt.most_common(count)

def CountCites(data,count):
    cnt = Counter()
    for item in data: 
        cnt[item] += 1
    return cnt.most_common(count)

def CountWords(data,count):
    cnt = Counter()
    #Pandas.Series durchlaufen um die Title zu bekommen
    for index, value in data.items():
        words = value.lower().split(' ')
        #Title in Wörter teilen
        for word in words:
            #Aussortieren der Stopwords
            if not word in stopwords:
                #Für bestimmte Begriffe
                #for word in wordlist:
                cnt[word] += 1
    return cnt.most_common(count)

def CountToTfidf(counts):
    transformer = TfidfTransformer(smooth_idf=False)
    
    #Gewichtet die CountMatrix
    tfidf = transformer.fit_transform(counts)

    #Gibt Array zurück
    return tfidf.toarray()


def ListToDataArray(l):
    ld = pd.DataFrame.from_dict(l)
    ld = ld.rename(columns={ 0:'word',1:'2018'})
    ld = ld.set_index('word')
    #Gibt Pandas.DataFrame zurück
    return ld


def TfidfVector(data):
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(data)
    print(vectorizer.get_feature_names())
    print(X.toarray())
    
def CountVector(data):
    vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(data)
    print(vectorizer.get_feature_names())
    return X.toarray()
    
def TitleFilteredByYear(data,year):
    databyyear = data['Title'].loc[data['Year'] == year]
    return databyyear

def CountWordsByYear(data,year):
    #d = Pandas.Series
    d = TitleFilteredByYear(data,year)
    l = CountWords(d,30)
    #Gibt List zurück
    return l

In [4]:
#Variablen erstellen
title = data['Title']
publisher = data['Publisher']
year = data['Year']

wordlist = [
    'DevOps',<<
    'engineering',
    'Software',
    'Engineering',
    'software'
    
]
stopwords =[
    'this',
    'is ',
    'none',
    'in',
    'of',
    'A',
    'a',
    'and',
    'for',
    'with',
    'on',
    'the',
    'to',
    'an'
]

In [5]:
#Zählen der Publisher
lst = Count(publisher,10)
#lst

#for x in data:
 #   print(x)

In [6]:
l1 = CountWordsByYear(data,2017)
a = []for letter, count in l1:
    a.append(count)
print(a)
l1

[65, 56, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2]

[('software', 65),
 ('engineering', 56),
 ('engineering:', 7),
 ('teaching', 6),
 ('analysis', 6),
 ('systematic', 6),
 ('research', 5),
 ('course', 5),
 ('from', 4),
 ('study', 4),
 ('data', 4),
 ('methods', 3),
 ('empirical', 3),
 ('challenges', 3),
 ('industry', 3),
 ('experience', 3),
 ('applying', 3),
 ('using', 3),
 ('education', 3),
 ('mapping', 3),
 ('agile', 3),
 ('perspective', 3),
 ('guidelines', 3),
 ('de', 3),
 ('based', 3),
 ('model-driven', 2),
 ('use', 2),
 ('crowdsourcing', 2),
 ('continuous', 2),
 ('directions', 2)]

In [7]:
l2 = CountWordsByYear(data,2018)
l2

[('software', 79),
 ('engineering', 61),
 ('research', 10),
 ('engineering:', 10),
 ('learning', 6),
 ('using', 6),
 ('systematic', 5),
 ('study', 5),
 ('search-based', 5),
 ('from', 5),
 ('data', 5),
 ('continuous', 5),
 ('empirical', 4),
 ('based', 4),
 ('mapping', 4),
 ('knowledge', 4),
 ('project', 4),
 ('tools', 3),
 ('education', 3),
 ('measuring', 3),
 ('experience', 3),
 ('approaches', 3),
 ('towards', 3),
 ('model', 3),
 ('practice', 3),
 ('students', 3),
 ('what', 3),
 ('role', 3),
 ('value', 3),
 ('systems', 3)]

In [8]:
l3 = CountWordsByYear(data,2019)
l3

[('software', 48),
 ('engineering', 38),
 ('study', 11),
 ('systematic', 9),
 ('mapping', 7),
 ('engineering:', 5),
 ('literature', 4),
 ('design', 4),
 ('case', 3),
 ('analysis', 3),
 ('systems', 3),
 ('studies', 3),
 ('education', 3),
 ('practices', 3),
 ('empirical', 3),
 ('from', 3),
 ('end-user', 3),
 ('machine', 2),
 ('industrial', 2),
 ('sethesaurus:', 2),
 ('wordnet', 2),
 ('progression', 2),
 ('model', 2),
 ('goals,', 2),
 ('challenges,', 2),
 ('start-ups', 2),
 ('reviews', 2),
 ('cerse-catalog', 2),
 ('research', 2),
 ('safety', 2)]

In [9]:
l4 = CountWordsByYear(data,2020)
l4 = ListToDataArray(l4)
l4

                2018
word
software          17
engineering       15
events             6
systematic         3
review             2
research           2
modeling           2
literature         2
reviews            2
performance        2
sampling           1
research:          1
critical           1
guidelines         1
practical          1
guide              1
conducting         1
eye                1
tracking           1
studies            1
action             1
when               1
update             1
sustainability     1
education:         1
case               1
general            1
professional       1
competencies       1
time               1

In [10]:
# Load English tokenizer, tagger, parser and NER
#nlp = spacy.load("en_core_web_sm")

# Process whole documents
#doc = nlp(text)

# Analyze syntax
#print("Noun phrases:", [chunk.text for chunk in doc.noun_chunks])
#print("Verbs:", [token.lemma_ for token in doc if token.pos_ == "VERB"])

# Find named entities, phrases and concepts
#for entity in doc.ents:
##print(entity.text, entity.label_)

In [11]:

#Dokumentenähnlichkeit x Graphanalyse

#Wachstum darstellen

In [12]:
#data2018 = TitleFilteredByYear(data,2018)
#data['Cites'].plot.bar()

In [13]:
#TfidfVector(data)

In [14]:
#data2018